html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: Poppins;

}

.container{
    width: 70%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 15%;
}

.info{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;

}

.info h1{
    font-family: PT Serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.045em;
    text-align: left;

}



.info h3{
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.info p{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 440px;
}

.team{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

.card{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.card:nth-child(3n-1){
    margin-top: 80px;
}

.image-container{
   width: 100%;
}

.image-container img{
    width: 250px;
    height: 380px;
    margin: 0;
}

.image-container h6{
    margin-top: 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.card h5{
    
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    min-width: 150px;
    
    transform: rotateZ(90deg) translateX(50%) translateY(420%);
}

@media (max-width:400px) {
    .info{
        flex-direction: column;
    }

    .container{
        width: 100%;
        margin-left: 0;
    }

    .info{
        width: 80%;
    }

    .team{
        width: 80%;
        grid-template-columns: repeat(2, 50%);
        margin-left: -10%;
       
    }

    .card:nth-child(3n-1){
        margin-top: 00px;
    }

    .card:nth-child(2n-2){
        margin-top: 80px;
    }

   
    .image-container img{
        width: 140px;
        height: 280px;
        margin: 0;
    }

    .image-container h6{
        margin-top: 10px;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
    }


}




